:root {
  --body-bg: #FAFAFA;
  --main-green: #337005;
  --font-yellow: #FFE500;
  --font-gray: #9C9494;
  --event-nav-bg: #FFDEB9;
  --event-nav-font: #FC2947;
  --sub-gray: #D9D9D9;
}

* {
  font-family: "Montserrat", "Pretendard", sans-serif;
  font-weight: 400;
}
* h1,
* h2,
* h3,
* h4,
* h5,
* h6,
* p,
* span,
* em,
* label,
* button {
  font-family: "Pretendard";
  font-weight: 400;
}
* ul,
* li {
  list-style: none;
}
* a {
  text-decoration: none;
  font-family: "Pretendard";
  font-weight: 400;
  color: #333;
}
* a:hover {
  color: #333;
}

.price {
  font-family: "Montserrat", sans-serif;
  font-weight: 500 !important;
}

body.scroll #button {
  position: fixed;
  bottom: 20%;
  right: 10px;
  z-index: 100000;
}
body.scroll #button #formbtn {
  margin-bottom: 0.75rem;
}
body.scroll #button #topbtn .topButton {
  opacity: 1 !important;
  visibility: visible !important;
}
body.scroll #hd {
  background-color: rgba(255, 255, 255, 0.8);
}
body.scroll #hd #eventBanner {
  margin-top: -50px;
  transition: 0.5s;
}
body.scroll #hd section {
  background: none;
}
body.scroll #hd section h1 svg path {
  fill: #141414;
}
body.scroll #hd section .navbar-toggler.collapsed .navbar-toggler-icon {
  background-image: url(/img/hamMenuBlack.png);
}
body.scroll #hd section #navbar-nav ul li a {
  color: #141414;
}
body.hamMenu {
  overflow-y: hidden;
}
body.hamMenu #hd section h1 svg path {
  fill: #141414;
}
body.hamMenu #hd .navbar-toggler .navbar-toggler-icon {
  background-image: url(/img/XbuttonBlack.png);
  transition: 1s;
}
body.hamMenu #hd #navbar-nav {
  right: 0 !important;
}
body #hd {
  transition: 0.5s;
}
body #hd #eventBanner p::before {
  content: "";
  margin-right: 0.5em;
  display: inline-block;
  background-image: url(/img/kakaoIcon.png);
  background-size: 1.5em 1.5em;
  width: 1.5rem;
  height: 1.5rem;
}
body #hd section {
  position: relative;
}
body #hd section h1 {
  z-index: 1;
}
body #hd section h1 svg {
  width: 10rem;
  fill: white;
}
body #hd section h1 svg path {
  transition-property: fill;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}
body #hd section .navbar-toggler {
  z-index: 1;
  border: none;
  padding: 0;
  color: white;
}
body #hd section .navbar-toggler.collapsed .navbar-toggler-icon {
  background-image: url(/img/hamMenuWhite.png);
}
body #hd section .navbar-toggler:focus {
  border: none;
  box-shadow: none;
}
@media (max-width: 991px) {
  body #hd section #navbar-nav {
    position: fixed;
    display: flex;
    justify-content: center !important;
    align-items: center;
    top: 0;
    bottom: 0;
    background-color: white;
    width: 100%;
    height: 100vh;
    transition: 0.5s;
    right: -100% !important;
  }
  body #hd section #navbar-nav ul {
    flex-direction: column;
  }
  body #hd section #navbar-nav ul li {
    margin-left: 0;
    margin: 1rem 0;
  }
  body #hd section #navbar-nav ul li a {
    color: #141414 !important;
    font-size: 2.5rem;
    font-weight: 200;
    transition: 0.5s;
  }
  body #hd section #navbar-nav ul li a:hover {
    font-weight: 400;
  }
}
@media (min-width: 991px) {
  body #contents #MEventBanner {
    display: none;
  }
}
body #contents #MEventBanner div p::after {
  content: "";
  margin-right: 0.5em;
  display: inline-block;
  background-image: url(/img/kakaoIcon2.png);
  background-size: 1.5em 1.5em;
  background-repeat: no-repeat;
  background-position: center;
  width: 2rem;
  height: 2rem;
  transform: translate(0, 0.5rem);
}
body #contents #review .swiper .swiper-pagination,
body #contents #review .swiper .swiper-pagination-progressbar.swiper-pagination-vertical,
body #contents #review .swiper .swiper-vertical > .swiper-pagination-progressbar,
body #contents #review .swiper .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  position: absolute;
  top: 0;
  right: 0 !important;
  left: auto !important;
  width: 3px !important;
}
body #contents #review .swiper .swiper-pagination {
  background-color: #ebebeb;
}
body #contents #review .swiper .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: #9C9494 !important;
}
body #contents #slide .swiper {
  background-color: black;
  height: -moz-fit-content;
  height: fit-content;
}
body #contents #slide .swiper .swiper-button-prev {
  background-image: url(/img/icon_arrow1.png);
  background-position: center;
  background-repeat: no-repeat;
}
body #contents #slide .swiper .swiper-button-prev::after {
  display: none;
}
@media (min-width: 1400px) {
  body #contents #slide .swiper .swiper-button-prev {
    left: 20%;
  }
}
body #contents #slide .swiper .swiper-button-next {
  background-image: url(/img/icon_arrow0.png);
  background-position: center;
  background-repeat: no-repeat;
}
body #contents #slide .swiper .swiper-button-next::after {
  display: none;
}
@media (min-width: 1400px) {
  body #contents #slide .swiper .swiper-button-next {
    right: 20%;
  }
}
body #contents #slide .swiper .swiper-slide {
  opacity: 0.5;
  height: -moz-fit-content;
  height: fit-content;
}
body #contents #slide .swiper .swiper-slide.swiper-slide-active {
  opacity: 1;
}
body #contents #slide .swiper .swiper-slide a {
  max-width: 1100px;
  height: 50vh;
}
@media (min-width: 991px) {
  body #contents #slide .swiper .swiper-slide a {
    height: 60vh;
  }
}
@media (min-width: 1400px) {
  body #contents #slide .swiper .swiper-slide a {
    height: 70vh;
  }
}
body #contents #slide .swiper .swiper-slide a .title0 {
  font-family: "SBAggro", sans-serif;
  font-weight: 500;
  color: rgb(0, 154, 36);
}
body #contents #slide .swiper .swiper-slide a .title1 {
  font-family: "Binggrae-Two", serif;
  font-weight: normal;
  color: rgb(0, 126, 96);
}
body #contents #slide .swiper .swiper-slide a .title2 {
  font-family: "BMDOHYEON", sans-serif;
  font-weight: normal;
  color: #005db9;
}
body #contents #slide .swiper .swiper-slide .slide0 {
  background-image: url(../img/slide0.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body #contents #slide .swiper .swiper-slide .slide1 {
  background-image: url(../img/slide1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body #contents #slide .swiper .swiper-slide .slide2 {
  background-image: url(../img/slide2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body #contents #event {
  background-image: url(/img/main_event_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body #contents #event ul {
  margin: 0 auto;
}
@media (max-width: 991px) {
  body #contents #event ul {
    width: 70vw;
  }
}
@media (max-width: 576px) {
  body #contents #event ul {
    width: 95vw;
  }
}
body #contents #event ul li .event0 {
  width: 600px;
}
@media (max-width: 1210px) {
  body #contents #event ul li .event0 {
    width: 450px;
  }
}
@media (max-width: 991px) {
  body #contents #event ul li .event0 {
    width: 70vw;
  }
}
@media (max-width: 576px) {
  body #contents #event ul li .event0 {
    width: 95vw;
  }
}
body #contents #event ul li .event0 a {
  background-image: url(/img/event0.png);
}
body #contents #event ul li .event1 {
  width: 300px;
}
@media (max-width: 1210px) {
  body #contents #event ul li .event1 {
    width: 225px;
  }
}
@media (max-width: 991px) {
  body #contents #event ul li .event1 {
    width: 70vw;
  }
}
@media (max-width: 576px) {
  body #contents #event ul li .event1 {
    width: 95vw;
  }
}
body #contents #event ul li .event1 a {
  background-image: url(/img/event1.png);
}
body #contents #event ul li .event2 {
  width: 300px;
}
@media (max-width: 1210px) {
  body #contents #event ul li .event2 {
    width: 225px;
  }
}
@media (max-width: 991px) {
  body #contents #event ul li .event2 {
    width: 70vw;
  }
}
@media (max-width: 576px) {
  body #contents #event ul li .event2 {
    width: 95vw;
  }
}
body #contents #event ul li .event2 a {
  background-image: url(/img/event2.png);
}
body #contents #about #aboutyoutube .textContent p {
  font-family: "PuradakGentleGothicR", serif;
  font-weight: normal;
}
body #contents #about .youtube {
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
}
body #contents #about .youtube iframe {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
body #contents #about #aboutinsta .sectioncontainer {
  width: 92.5%;
  margin: 0 auto;
  max-width: 1200px;
}
body #contents #about #aboutinsta .sectioncontainer .swiper {
  margin-top: 40px;
}
body #contents #about #aboutinsta .sectioncontainer .swiper .swiper-wrapper .swiper-slide {
  width: 250px;
  height: 250px;
  padding-right: 5px;
}
@media (max-width: 576px) {
  body #contents #about #aboutinsta .sectioncontainer .swiper .swiper-wrapper .swiper-slide {
    width: 200px;
    height: 200px;
  }
}
body #contents #about #aboutinsta .sectioncontainer .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
body #contents #about #aboutinsta .sectioncontainer .swiper .swiper-wrapper .swiper-slide:not(:first-child) {
  padding-left: 5px;
}
body #contents #about #aboutinsta .aboutinsta_popup__3lynE .popupclose {
  background-image: url(/img/XbuttonWhite.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  bottom: 101%;
}
body #contents #button .topButton .topButtonsvg circle {
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
  stroke-width: 2;
  stroke: #141414;
  fill: none;
}/*# sourceMappingURL=ongadam_style.css.map */