:root {
    --body-bg: #FAFAFA;
    --main-green: #337005;
    --font-yellow: #FFE500;
    --font-gray: #9C9494;
    --event-nav-bg: #FFDEB9;
    --event-nav-font: #FC2947;
    --sub-gray: #D9D9D9;
}

* {
    font-family: 'Montserrat', 'Pretendard', sans-serif;
    font-weight: 400;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span,
    em,
    label,
    button {
        font-family: 'Pretendard';
        font-weight: 400;
    }

    ul,
    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        font-family: 'Pretendard';
        font-weight: 400;
        color: #333;
    }
    a:hover{
        color: #333;
    }
}

.price {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500 !important;
}

body {
    &.scroll {
        #button{
            position: fixed;
            bottom: 20%;
            right: 10px;
            z-index: 100000;
            #formbtn{
                margin-bottom: 0.75rem;
            }
            #topbtn{
                .topButton{
                    opacity: 1 !important;
                    visibility: visible !important;
                }
            }
        }
        #hd {
            background-color: rgb(255, 255, 255, 0.8);

            #eventBanner {
                margin-top: -50px;
                transition: 0.5s;
            }

            section {
                background: none;

                h1 {
                    svg {
                        path {
                            fill: #141414
                        }
                    }
                }

                .navbar-toggler.collapsed {
                    .navbar-toggler-icon {
                        background-image: url(/img/hamMenuBlack.png);
                    }
                }

                #navbar-nav {
                    ul {
                        li {
                            a {
                                color: #141414;
                            }
                        }
                    }
                }
            }
        }
    }

    &.hamMenu {
        overflow-y: hidden;

        #hd {
            section {
                h1 {

                    svg {
                        path {
                            fill: #141414
                        }
                    }
                }
            }
            .navbar-toggler {
                .navbar-toggler-icon {
                    background-image: url(/img/XbuttonBlack.png);
                    transition: 1s;
                }
            }
            #navbar-nav {
                right: 0 !important;
            }
        }
    }

    #hd {
        transition: 0.5s;

        #eventBanner {
            p {
                &::before {
                    content: "";
                    margin-right: 0.5em;
                    display: inline-block;
                    background-image: url(/img/kakaoIcon.png);
                    background-size: 1.5em 1.5em;
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }

        section {
            position: relative;

            h1 {
                z-index: 1;

                svg {
                    width: 10rem;
                    fill: white;

                    path {
                        transition-property: fill;
                        transition-duration: 0.5s;
                        transition-timing-function: linear;
                    }
                }
            }

            .navbar-toggler {
                z-index: 1;
                border: none;
                padding: 0;
                color: white;

            }

            .navbar-toggler.collapsed {
                .navbar-toggler-icon {
                    background-image: url(/img/hamMenuWhite.png);
                }
            }

            .navbar-toggler:focus {
                border: none;
                box-shadow: none;
            }

            #navbar-nav {
                @media(max-width:991px) {
                    //노출된모습
                    position: fixed;
                    display: flex;
                    justify-content: center !important;
                    align-items: center;

                    top: 0;
                    bottom: 0;
                    background-color: white;
                    width: 100%;
                    height: 100vh;
                    transition: 0.5s;
                    right: -100% !important;

                    ul {
                        flex-direction: column;

                        li {
                            margin-left: 0;
                            margin: 1rem 0;

                            a {
                                color: #141414 !important;
                                font-size: 2.5rem;
                                font-weight: 200;
                                transition: 0.5s;

                                &:hover {
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }


            }
        }
    }

    #contents {
        #MEventBanner {
            @media(min-width:991px) {
                display: none;
            }

            div {
                p {
                    &::after {
                        content: "";
                        margin-right: 0.5em;
                        display: inline-block;
                        background-image: url(/img/kakaoIcon2.png);
                        background-size: 1.5em 1.5em;
                        background-repeat: no-repeat;
                        background-position: center;
                        width: 2rem;
                        height: 2rem;
                        transform: translate(0, 0.5rem);
                    }
                }
            }
        }
        #review{
            .swiper{
                .swiper-wrapper{
                }
                .swiper-pagination,
                .swiper-pagination-progressbar.swiper-pagination-vertical,
                .swiper-vertical>.swiper-pagination-progressbar,
                .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
                    position: absolute;
                    top: 0;
                    right: 0 !important;
                    left: auto !important;
                    width: 3px !important;
                }
                .swiper-pagination{
                    background-color: #ebebeb;
                }
                .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
                    background-color: #9C9494 !important;
                }
            }
        }
        #slide {
            .swiper {
                background-color: black;
                height: fit-content;
                .swiper-button-prev{
                    background-image: url(/img/icon_arrow1.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    &::after{
                        display: none;
                    }
                    @media(min-width:1400px){
                        left: 20%;
                    }
                }
                .swiper-button-next{
                    background-image: url(/img/icon_arrow0.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    &::after{
                        display: none;
                    }
                    @media(min-width:1400px){
                        right: 20%;
                    }
                }
                .swiper-slide {
                    opacity: 0.5;
                    height: fit-content;

                    &.swiper-slide-active {
                        opacity: 1;
                    }

                    a {
                        max-width: 1100px;
                        height: 50vh;

                        @media(min-width:991px) {
                            height: 60vh;
                        }

                        @media(min-width:1400px) {
                            height: 70vh;
                        }

                        .title0{
                            font-family: 'SBAggro', sans-serif;
                            font-weight: 500;
                            color: rgb(0, 154, 36);

                        }
                        .title1{
                            font-family: 'Binggrae-Two', serif;
                            font-weight: normal;
                            color: rgb(0, 126, 96);
                        }
                        .title2{
                            font-family: 'BMDOHYEON', sans-serif;
                            font-weight: normal;
                            color: #005db9;
                        }
                    }

                    .slide0 {
                        background-image: url(../img/slide0.png);
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    .slide1 {
                        background-image: url(../img/slide1.png);
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    .slide2 {
                        background-image: url(../img/slide2.png);
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                }
            }

        }

        #event {
            background-image: url(/img/main_event_bg.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            ul {
                margin: 0 auto;
                @media(max-width:991px){
                            width: 70vw;
                }
                @media(max-width:576px){
                            width: 95vw;
                        }
                li{
                    // background-color: #f2f2f2;
                    .event0{
                        width: 600px;
                        @media(max-width:1210px){
                            width: 450px;
                        }
                        @media(max-width:991px){
                            width: 70vw;
                        }
                        @media(max-width:576px){
                            width: 95vw;
                        }
                        a {
                            background-image: url(/img/event0.png);
                            
                        }
                    }
                    .event1{
                        width: 300px;
                        @media(max-width:1210px){
                                width: 225px;
                        }
                        @media(max-width:991px){
                            width: 70vw;
                        }
                        @media(max-width:576px){
                            width: 95vw;
                        }
                        a {
                            background-image: url(/img/event1.png);
                        }
                    }
                    .event2{
                        width: 300px;
                        @media(max-width:1210px){
                                width: 225px;
                        }
                        @media(max-width:991px){
                            width: 70vw;
                        }
                        @media(max-width:576px){
                            width: 95vw;
                        }
                        a {
                            background-image: url(/img/event2.png);
                        }
                    }
                }
            }
        }
        #about{
            #aboutyoutube{
                .textContent{
                    p{
                        font-family: 'PuradakGentleGothicR', serif;
                        font-weight: normal;
                    }
                }

            }
            .youtube{
                padding-bottom: 56.25%;
                position: relative;
                width: 100%;
                iframe{
                    top: 0;
                    left: 0;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
            }
            #aboutinsta{
                .sectioncontainer{
                    width: 92.5%;
                    margin: 0 auto;
                    max-width: 1200px;
                    .swiper{
                        margin-top: 40px;
                        .swiper-wrapper{
                            .swiper-slide{
                                width: 250px;
                                height: 250px;
                                padding-right: 5px;

                                @media(max-width:576px){
                                    width: 200px;
                                    height: 200px;
                                }
                                img{
                                    width: 100%;
                                    height: 100%;
                                    cursor: pointer;
                                }
                            }
                            .swiper-slide:not(:first-child){
                                padding-left: 5px;
                            }
                            
                        }
                    }
                }
                .aboutinsta_popup__3lynE{
                    .popupclose{
                        background-image: url(/img/XbuttonWhite.png);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                        position: absolute;
                        right: 10px;
                        bottom: 101%;
                    }
                }
            }
        }

        #button{
            .topButton{
                .topButtonsvg{
                    circle{
                        stroke-dasharray: 0;
                        stroke-dashoffset: 0;
                        stroke-width: 2;
                        stroke: #141414;
                        fill: none;
                    }
                }
            }
        }
    }
}