:root {
    --body-bg: #FAFAFA;
    --main-green: #337005;
    --font-yellow: #FFE500;
    --font-gray: #9C9494;
    --event-nav-bg: #FFDEB9;
    --event-nav-font: #FC2947;
    --sub-gray: #D9D9D9;
}

* {
    font-family: 'Pretendard';
    font-weight: 400;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span,
    em {
        font-family: 'Pretendard';
        font-weight: 400;
    }

    ul,
    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        font-family: 'Pretendard';
        font-weight: 400;
        color: #333;
    }
}

body {
    #hd {
        #eventBanner {
            p {
                &::before {
                    content: "";
                    margin-right: 0.5em;
                    display: inline-block;
                    background-image: url(/img/kakaoIcon.png);
                    background-size: 1.5em 1.5em;
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }
    }

    #contents {
        #slide {
            .swiper{
                background-color: black;
                height: fit-content;
                .swiper-slide {
                    opacity: 0.5;
                    height: fit-content;
                    &.swiper-slide-active {
                        opacity: 1;
    
                    }
                    a{
                        max-width: 1100px;
                        height: 50vh;
                    }
                    .slide0{
                        background-image: url(../img/slide0.png);
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                    .slide1{
                        background-image: url(../img/slide1.png);
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                    .slide2{
                        background-image: url(../img/slide2.png);
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                }
            }

        }

        #event {
            ul {
                .event0 a {
                    background-image: url(/img/event0.png);
                }

                .event1 a {
                    background-image: url(/img/event1.png);
                }

                .event2 a {
                    background-image: url(/img/event2.png);
                }
            }
        }
    }
}