:root {
    --body-bg: #FAFAFA;
    --main-green: #337005;
    --font-yellow: #FFE500;
    --font-gray: #9C9494;
    --event-nav-bg: #FFDEB9;
    --event-nav-font: #FC2947;
    --sub-gray: #D9D9D9;
}
/* 띠배너 */
.topBanner{
    height: 100%;
    background-color: var(--main-green);
}
.topBanner p{
    color: var(--font-yellow);
    display: flex;
    font-weight: 300;
    align-items: center;
}
.topBanner span{
    color: var(--font-yellow);
    font-weight: 100;
    font-size: .9rem;
}
/* 상단 */
.logoImg{
    width: 10rem;
    height: auto;
}
.menu li{
    display: none;
    margin-right: 3rem;
    font-weight: 700;
}
.eventMenu{
    background-color: var(--event-nav-bg);
    border-radius: 5px;

}
.eventMenu a{
    color: var(--event-nav-font);
    font-weight: 700;
}

/* 햄버거 메뉴 */
.hamMenu{
    font-size: 2rem;
}

/* 반응형 */
@media(min-width:767px) {
    .hamMenu{
        display: none;
    }

    .menu li{
        display: block;
    }
}