:root {
    --body-bg: #FAFAFA;
    --main-green: #337005;
    --font-yellow: #FFE500;
    --font-gray: #9C9494;
    --event-nav-bg: #FFDEB9;
    --event-nav-font: #FC2947;
    --sub-gray: #D9D9D9;
}
/* 띠배너 */
.topBanner{
    height: 100%;
    background-color: #142e00;
}
.topBanner p{
    color: white;
    display: flex;
    font-weight: 300;
    align-items: center;
}
.topBanner span{
    color: white;
    font-weight: 100;
    font-size: .9rem;
}
/* 상단 */
#headSection{
    background: linear-gradient(to top,rgba(255, 255, 255, 0), #181818);
    height: 70px;
    display: flex;
    align-items: center;
}
.mainhead{
    max-width: 1100px;
}
.logoImg{
    width: 10rem;
    height: auto;
}
.menu li{
    display: none;
    margin-right: 3rem;
}
.menu li a{
    font-weight: 500;
    color: rgb(243, 243, 243);
    font-size: 1.2rem;
}
/* 햄버거 메뉴 */
.hamMenu{
    font-size: 2rem;
}

/* 반응형 */
@media(min-width:992px) {
    .hamMenu{
        display: none;
    }

    .menu li{
        display: block;
    }
}