.section{
    height: 100vh;
}
.merit{
    background-color: #f5f5f5;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.merit .mTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}
.merit .mTitle p{
    font-size: 3rem;
    font-family: 'NotoSerifKR', serif;
}
.merit .mTitle i{
    font-size: 2rem;
    margin: 0 0.25rem;
    color: rgb(229, 194, 105);
}
.filterbox label{
    font-size: 1.5rem;
    margin-left: 0.5rem;
}

.review{
    background-color: #d5dbc6;
    width: 60%;
    padding: 1rem;
}
.review .rTitle{
    padding-top: 4.5rem;
    line-height: 4rem;
}
.review .rTitle p{
    margin-bottom: 0;
    font-size: 5rem;
    font-family: 'PuradakGentleGothicR', serif;
    font-weight: normal;
}
.review .rTitle span{
    font-size: 2rem;
}
.reviewbox{
    background-color: #f5f5f5;
    padding: 0 1rem;
}
.reviewbox .hd{
    display: flex;
    border-bottom: 1px solid rgb(190, 190, 190);
    padding: 0.5rem 0;
}
.reviewbox .hd span{
    margin-left: 1rem;
    font-size: 0.9rem;
    color: #555555;
}
.reviewbox .hd i{
    margin: 0 0.15rem;
}
.reviewbox .body{
    padding: 1rem 0;
    justify-content: center;
    align-items: center;
}
.reviewbox .body img{
    width: 40%;
}
.reviewbox .body .txt p{
    margin-bottom: 0;
    font-size: 1.2rem;
}
.reviewbox .body .txt{
    margin-left: 1rem;
    width: 60%;
}

.swiperslide{
    height: auto;
}
.swiperslide:not(:last-child){
    margin-bottom: 0.5rem;
}
.swiperslide:not(:first-child){
    margin-top: 0.5rem;
}