.opacity0 {
    opacity: 0;
}

.opacity1 {
    opacity: 1;
}

.cursor {
    cursor: default;
}

.pointer {
    cursor: pointer;
}

.topButton {
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.topButtonsvg {
    width: 56px;
    height: 56px;
}